In [1]:
from nba_api.stats.endpoints import playergamelog
from nba_api.stats.static import players
import pandas as pd

In [2]:
# 1970's Greatest
bill_russell = playergamelog.PlayerGameLog(player_id='78049', season = 'ALL', season_type_all_star= 'Playoffs')
bill_russell = bill_russell.get_data_frames()

wilt_chamberlain = playergamelog.PlayerGameLog(player_id='76375', season = 'ALL', season_type_all_star= 'Playoffs')
wilt_chamberlain = wilt_chamberlain.get_data_frames()

oscar_robertson = playergamelog.PlayerGameLog(player_id='600015', season = 'ALL', season_type_all_star= 'Playoffs')
oscar_robertson = oscar_robertson.get_data_frames()

jerry_west = playergamelog.PlayerGameLog(player_id='78497', season = 'ALL', season_type_all_star= 'Playoffs')
jerry_west = jerry_west.get_data_frames()

GOAT_1970 = [bill_russell, wilt_chamberlain, oscar_robertson, jerry_west]

In [3]:
#1980's Greatest
kareem_abdul_jabbar = playergamelog.PlayerGameLog(player_id='76003', season = 'ALL', season_type_all_star= 'Playoffs')
kareem_abdul_jabbar = kareem_abdul_jabbar.get_data_frames()

magic_johnson = playergamelog.PlayerGameLog(player_id='77142', season = 'ALL', season_type_all_star= 'Playoffs')
magic_johnson = magic_johnson.get_data_frames()

larry_bird = playergamelog.PlayerGameLog(player_id='1449', season = 'ALL', season_type_all_star= 'Playoffs')
larry_bird = larry_bird.get_data_frames()

isaiah_thomas = playergamelog.PlayerGameLog(player_id='202738', season = 'ALL', season_type_all_star= 'Playoffs')
isaiah_thomas = isaiah_thomas.get_data_frames()

GOAT_1980 = [kareem_abdul_jabbar, magic_johnson, larry_bird, isaiah_thomas]

In [4]:
# 1990's Greatest
michael_jordan = playergamelog.PlayerGameLog(player_id='893', season = 'ALL', season_type_all_star= 'Playoffs')
michael_jordan = michael_jordan.get_data_frames()

scottie_pippen = playergamelog.PlayerGameLog(player_id='937', season = 'ALL', season_type_all_star= 'Playoffs')
scottie_pippen = scottie_pippen.get_data_frames()

karl_malone = playergamelog.PlayerGameLog(player_id='252', season = 'ALL', season_type_all_star= 'Playoffs')
karl_malone = karl_malone.get_data_frames()

hakeem_olajuwon = playergamelog.PlayerGameLog(player_id='165', season = 'ALL', season_type_all_star= 'Playoffs')
hakeem_olajuwon = hakeem_olajuwon.get_data_frames()

tim_duncan = playergamelog.PlayerGameLog(player_id='1495', season = 'ALL', season_type_all_star= 'Playoffs')
tim_duncan = tim_duncan.get_data_frames()

players1990 = [michael_jordan, scottie_pippen, karl_malone, hakeem_olajuwon, tim_duncan]
players1990[0][0]

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,41997,893,0049700088,"JUN 14, 1998",CHI @ UTA,W,43,15,35,0.429,...,1,1,1,4,0,1,2,45,2.0,0
1,41997,893,0049700087,"JUN 12, 1998",CHI vs. UTA,L,44,9,26,0.346,...,3,4,4,3,0,4,4,28,-4.0,0
2,41997,893,0049700086,"JUN 10, 1998",CHI vs. UTA,W,43,12,27,0.444,...,5,8,2,2,0,3,1,34,0.0,0
3,41997,893,0049700085,"JUN 07, 1998",CHI vs. UTA,W,32,7,14,0.500,...,2,3,2,1,1,2,1,24,24.0,0
4,41997,893,0049700084,"JUN 05, 1998",CHI @ UTA,W,40,14,33,0.424,...,2,5,3,1,1,0,2,37,16.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,41985,893,0048500101,"APR 17, 1986",CHI @ BOS,L,43,18,36,0.500,...,4,4,2,2,1,5,3,49,NaN,0
175,41984,893,0048400114,"APR 26, 1985",CHI vs. MIL,L,42,6,16,0.375,...,5,7,5,2,3,4,3,29,NaN,0
176,41984,893,0048400113,"APR 24, 1985",CHI vs. MIL,W,42,12,26,0.462,...,5,8,7,4,1,3,4,35,NaN,0
177,41984,893,0048400112,"APR 21, 1985",CHI @ MIL,L,43,9,17,0.529,...,3,4,12,2,0,7,5,30,NaN,0
178,41984,893,0048400111,"APR 19, 1985",CHI @ MIL,L,44,7,19,0.368,...,3,4,10,3,0,1,3,23,NaN,0

In [5]:
# 2000's Greatest
shaquille_oneal = playergamelog.PlayerGameLog(player_id='2992', season = 'ALL', season_type_all_star= 'Playoffs')
shaquille_oneal = shaquille_oneal.get_data_frames()

kobe_brian = playergamelog.PlayerGameLog(player_id='977', season = 'ALL', season_type_all_star= 'Playoffs')
kobe_brian = kobe_brian.get_data_frames()

dwyane_wade = playergamelog.PlayerGameLog(player_id='2548', season = 'ALL', season_type_all_star= 'Playoffs')
dwyane_wade = dwyane_wade.get_data_frames()

GOAT_2000 = [shaquille_oneal, kobe_brian, dwyane_wade]
GOAT_2000[:]

[[Empty DataFrame
  Columns: [SEASON_ID, Player_ID, Game_ID, GAME_DATE, MATCHUP, WL, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS, PLUS_MINUS, VIDEO_AVAILABLE]
  Index: []

  [0 rows x 27 columns]],
 [    SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  \
  0       42011        977  0041100235  MAY 21, 2012    LAL @ OKC  L   41   18
  1       42011        977  0041100234  MAY 19, 2012  LAL vs. OKC  L   40   12
  2       42011        977  0041100233  MAY 18, 2012  LAL vs. OKC  W   39    9
  3       42011        977  0041100232  MAY 16, 2012    LAL @ OKC  L   43    9
  4       42011        977  0041100231  MAY 14, 2012    LAL @ OKC  L   32    7
  ..        ...        ...         ...           ...          ... ..  ...  ...
  215     41996        977  0049600041  MAY 04, 1997    LAL @ UTA  L   14    1
  216     41996        977  0049600032  MAY 02, 1997    LAL @ POR  W    5    0
  217     41996        977  0049600024  APR 30, 1997    LAL @ POR  L   26    7
  218     41996        977  0049600013  APR 27, 1997  LAL vs. POR  W    4    1
  219     41996        977  0049600008  APR 25, 1997  LAL vs. POR  W    0    1

       FGA  FG_PCT  ...  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  \
  0     33   0.545  ...     5    5    0    2    0    2   3   42         -14
  1     28   0.429  ...     5    8    5    0    0    2   1   38          -9
  2     25   0.360  ...     5    7    6    2    0    2   4   36          11
  3     25   0.360  ...     2    3    4    4    0    2   4   20           5
  4     18   0.389  ...     3    3    2    0    0    3   3   20         -27
  ..   ...     ...  ...   ...  ...  ...  ...  ...  ...  ..  ...         ...
  215    7   0.143  ...     1    2    3    0    1    0   5    3         -10
  216    0   0.000  ...     0    0    0    0    0    0   0    0          -2
  217   13   0.538  ...     4    4    2    1    0    4   5   22          15
  218    3   0.333  ...     0    0    0    0    0    0   1    6          -4
  219    1   1.000  ...     0    0    0    0    0    0   0    2           2

       VIDEO_AVAILABLE
  0                  0
  1                  0
  2                  0
  3                  0
  4                  0
  ..               ...
  215                0
  216                0
  217                0
  218                0
  219                0

  [220 rows x 27 columns]],
 [    SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  \
  0       42017       2548  0041700125  APR 24, 2018    MIA @ PHI  L   31    4
  1       42017       2548  0041700124  APR 21, 2018  MIA vs. PHI  L   26   10
  2       42017       2548  0041700123  APR 19, 2018  MIA vs. PHI  L   25    2
  3       42017       2548  0041700122  APR 16, 2018    MIA @ PHI  W   26   11
  4       42017       2548  0041700121  APR 14, 2018    MIA @ PHI  L   19    4
  ..        ...        ...         ...           ...          ... ..  ...  ...
  172     42003       2548  0040300135  APR 30, 2004  MIA vs. NOH  W   36    9
  173     42003       2548  0040300134  APR 27, 2004    MIA @ NOH  L   41    4
  174     42003       2548  0040300133  APR 24, 2004    MIA @ NOH  L   31    1
  175     42003       2548  0040300132  APR 21, 2004  MIA vs. NOH  W   32    5
  176     42003       2548  0040300131  APR 18, 2004  MIA vs. NOH  W   41    8

       FGA  FG_PCT  ...  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  \
  0     15   0.267  ...     5    5    5    1    0    1   1   11           7
  1     22   0.455  ...     2    3    1    3    0    2   3   25          -5
  2     10   0.200  ...     2    2    5    1    1    4   2    8          -4
  3     16   0.688  ...     5    7    3    2    0    3   2   28          16
  4      7   0.571  ...     4    4    4    0    0    1   3   11          -9
  ..   ...     ...  ...   ...  ...  ...  ...  ...  ...  ..  ...         ...
  172   17   0.529  ...     4    5    5    2    0    4   3   21           8
  173   12   0.333  ...     1    2   10    2    0    2   3   11          -4
  174    8   0.125  ...     3    3    0    1    0    6   2    2          -7
  175    8   0.625  ...     2    2    6    1    0    5   2   14          22
  176   19   0.421  ...     2    5    5    1    0    2   4   21          -1

       VIDEO_AVAILABLE
  0                  1
  1                  1
  2                  1
  3                  1
  4                  1
  ..               ...
  172                0
  173                0
  174                0
  175                0
  176                0

  [177 rows x 27 columns]]]

In [6]:
# Greatest Present
lebron_james = playergamelog.PlayerGameLog(player_id='2544', season = 'ALL', season_type_all_star= 'Playoffs')
lebron_james = lebron_james.get_data_frames()

stephen_curry = playergamelog.PlayerGameLog(player_id='201939', season = 'ALL', season_type_all_star= 'Playoffs')
stephen_curry = stephen_curry.get_data_frames()

kevin_durant = playergamelog.PlayerGameLog(player_id='201142', season = 'ALL', season_type_all_star= 'Playoffs')
kevin_durant = kevin_durant.get_data_frames()

kawhi_leonard = playergamelog.PlayerGameLog(player_id='202695', season = 'ALL', season_type_all_star= 'Playoffs')
kawhi_leonard = kawhi_leonard.get_data_frames()

GOAT_present = [lebron_james, stephen_curry, kevin_durant, kawhi_leonard]
GOAT_present[3][0]['MATCHUP'].head()

0    LAC vs. DEN
1      LAC @ DEN
2    LAC vs. DEN
3      LAC @ DEN
4      LAC @ DEN
Name: MATCHUP, dtype: object